<%- include('partials/header'); -%>

<h1>Home Page</h1>
<p><%=homeContent%></p>
<div>
    <!-- Loop the posts and get the Title in the Array -->
    <%  posts.forEach((post) => { %>
    <!-- Display the value in the Title of the posts -->
    <h3> <%=  post.title; %></h3>
    <p> <%=  post.content.substring(0, 500) + "..." %>
        <a href="/post/<%= post.title %>">Read More</a></p>
    <%  }); %>
</div>

<%- include('partials/footer'); -%>